---
title: Cloudsoft Service Broker for Pivotal Cloud Foundry
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Cloudsoft Service Broker tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the Cloudsoft Service Broker for Pivotal Cloud Foundry (PCF) tile. You can use the Cloudsoft Service Broker to create services to access databases or deploy new data stores to the cloud of your choice.

The key features of the tile include the following:

* Create services that securely connect databases and applications
* Create enterprise-grade NoSQL, SQL, and messaging services
* Define plans that configure resources allocated
* Deploy services to the cloud of your choice
* Control security and restrict access to services 
* Control service provisioning and access
* Have services autonomically managed for resilience

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Cloudsoft Service Broker for Pivotal Cloud Foundry:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 9, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Cloudsoft Application Management Platform (AMP) v3.2.0, Cloudsoft Service Broker (CSB) Manager v1.1.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9x, v1.10x, v1.11x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x, v1.10.x, v1.11x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="licenses"></a>License Keys

The Cloudsoft Service Broker does not require license keys for either a 30-day trial or for continued usage. You must adhere to the EULA and contact sales@cloudsoft.io for commercial usage following a free trial. 

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).
