---
title: Cloudsoft Service Broker for Pivotal Cloud Foundry
owner: Partners
---

This documentation describes the Cloudsoft Service Broker for Pivotal Cloud Foundry (PCF) tile. You can use the Cloudsoft Service Broker to create services to access databases or deploy new data stores to the cloud of your choice.

The key features of the tile include the following:

* Create services that securely connect databases and applications
* Create enterprise-grade NoSQL, SQL, and messaging services
* Define plans that configure resources allocated
* Deploy services to the cloud of your choice
* Control security and restrict access to services 
* Control service provisioning and access
* Have services autonomically managed for resilience

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Cloudsoft Service Broker tile for Pivotal Cloud Foundry Details:</dt>
<dd><strong>Version</strong>: v1.0.0 </dd>
<dd><strong>Release Date</strong>: 08-3-2016</dd>
<dd><strong>Software Component Version</strong>: Cloudsoft Application Management Platform (AMP) v3.2.0; Cloudsoft Service Broker (CSB) Operations Manager v1.0.0</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7.x</dd>
<dd><strong>vSphere Support?</strong> Yes</dd>
<dd><strong>AWS Support?</strong> Yes</dd>
<dd><strong>Azure Support?</strong> Yes</dd>
<dd><strong>OpenStack Support?</strong> Yes</dd>
</dl>

## <a id="licenses"></a>License Keys

The Cloudsoft Service Broker does not require license keys for either a 30-day trial or for continued usage. You must adhere to the EULA and contact sales@cloudsoft.io for commercial usage following a free trial. 

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).
