---
title: Cloudsoft Service Broker for Pivotal Cloud Foundry&reg; 
owner: Partners
---

This documentation describes the Cloudsoft Service Broker tile for Pivotal Cloud Foundry (PCF). You can use the Cloudsoft Service Broker to create services to access databases or deploy new data stores to the cloud of your choice.

The following list describes the key features of the tile:

* Create services that securely connect databases and applications
* Create enterprise grade NoSQL, SQL and messaging services
* Define plans that configure resources allocated
* Deploy services to the cloud of your choice
* Control security and restrict access to services 
* Control service provisioning and access
* Have services autonomically managed for resilience

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Cloudsoft Service Broker tile for Pivotal Cloud Foundry&reg; Details:</dt>
<dd><strong>Version</strong>: 1.0.0 </dd>
<dd><strong>Release Date</strong>: 08-3-2016</dd>
<dd><strong>Software component version</strong>: TK </dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.7x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.7.x</dd>
<dd><strong>vSphere support?</strong> </dd>
<dd><strong>AWS support?</strong> </dd>
</dl>

## <a id="licenses"></a>License Keys

No license keys required for either a (30/90) day trial or for continued usage. You must adhere to the EULA & contact sales@cloudsoft.io for commercial usage following a free trial. 

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).
