---
title: Installing the Cloudsoft Service Broker Tile
owner: Partners
---

This topic provides instructions for how to install and configure the Cloudsoft Service Broker tile. 

## <a id="install"></a>Install with Pivotal Ops Manager

1. Download the Cloudsoft Service Broker tile from [Pivotal Network](https://network.pivotal.io). 

1. In Ops Manager, click **Import a Product** and browse to the Cloudsoft Service Broker tile you downloaded. 

1. Click **Add** next to the uploaded Cloudsoft Service Broker in the Ops Manager **Available Products** view to add Cloudsoft Service Broker to your staging area. 

1. Click the newly added tile.

1. Configure the Cloudsoft Service Broker tile:

    In the Locations section there are two locations to configure, first is the location to which the broker should deploy new service instances; second is the location
    to which Cloudsoft AMP should persist its state.  These are written as key/value properties, you can find more information [here](http://docs.cloudsoft.io/locations/reference/index.html) and [here](http://docs.cloudsoft.io/operations/persistence/index.html)

    If you intend to create services that connect to MSSQL or Oracle databases, you are required to supply the JDBC drivers for these in that section.  Simply provide the download location that should be used.
	![Configure tile](images/tile_config.png)

1. Click **Apply changes** to install Cloudsoft Service Broker.

