---
title: Release Notes for Cloudsoft Service Broker for PCF
owner: Partners
---

These are release notes for Cloudsoft Service Broker for PCF.

##<a id="ver"></a> v1.2.0

**Release Date:** August 9, 2017

Features included in this release:

* Fixes CVE-2017-4975
* Improved usability features

##<a id="ver"></a> v1.1.0

**Release Date:** September 22, 2016


##<a id="ver"></a> v1.0.0

**Release Date:** August 3, 2016