---
title: Using the Cloudsoft Service Broker Tile
owner: Partners
---

This document describes how to use the Cloudsoft Service Broker to create new services and control service access. 

## <a id="login"></a>Log in to Cloudsoft Service Broker

1. In Apps Manager, search for the **cloudsoft-service-broker-manager** app in the **cloudsoft-service-broker-org** and **cloudsoft-service-broker-space**. Click the app to view the dashboard. 

	![App dashboard](app_dashboard.png)

1. Navigate to `https://cloudsoft-service-broker-manager.YOUR-SYSTEM-DOMAIN` in your browser. 

1. Log in to the Cloudsoft Service Broker using the `SECURITY_USER_NAME` and `SECURITY_USER_PASSWORD` environment variables from the app dashboard:

	![Credentials](credentials.png) 

##<a id="service"></a> Add a Service

You can add new service definitions to the Cloudsoft Service Broker using blueprints available for Cloudsoft AMP.  You can compose blueprints from Apache Brooklyn entities such as Cassandra, CouchBase, CouchDB, ElasticSearch, MongoDB, Redis, Riak, MariaDB, MySQL, PostgreSQL, and more.  The Cloudsoft Service Broker also makes it easy to create services to securely access data on pre-existing databases.   

1. Click **View Service Access**. 

	![Getting started](getting_started.png)

1. Select **cloudsoft-service-broker** from the **Service Broker** drop-down menu. 

	![Access](service_access.png)

1. Click the **+** button to add a new service and complete the fields:
    ![Add service](add_service.png)
	* **Service Name** and **Service Description**: Specify the name and description of the new service. 
	* **Icon URL**: Provide the URL to an icon to use to represent the service. 
	* **Service Type**: Select a service type. 
	* **Blueprint**: If necessary, edit the blueprint.
	* **Plans**: Describe your Service Plans. For each plan, perform the following steps:
		1. Provide a name and description.
		1. Describe the configuration that makes the plan different from others.
		1. Click **Add Plan**.  
	* Click **Save**.

    **or if creating a service to provide read-only users on an existing database**:
    ![DBAccess](db_access.png)
    * **Select your database type**: Choose the DB type of the existing database.
    * **DB host / IP**: Provide the host or IP of the existing database.
    * **DB admin user username** and **DB admin user password**: Provide the credentials of a user on the database that can create new users.
    * **DB instance name**: Provide the database name of the existing database.
    * **DB service name**: Specify the name of the new service. 
##<a id="access"></a> Control Service Access 

1. From **Service Access**, choose a service to define access to.
1. Select the organizations that should be able to see and use the service. 

    ![Make visible](make_visible.png)

