---
title: Using the Cloudsoft Service Broker Tile
owner: Partners
---

This document describes how to use Cloudsoft Service Broker to secure connections within your deployment, control service access, monitor service and plan usage, and configure security alerts. 

## <a id="login"></a>Log in to Cloudsoft Service Broker

1. In Apps Manager, search for the **cloudsoft-service-broker-manager** app in the **cloudsoft-service-broker-org** and **cloudsoft-service-broker-space**. Select the app to bring view the dashboard. 

	![App dashboard](app_dashboard.png)

1. Navigate to `https://cloudsoft-service-broker-manager.YOUR-SYSTEM-DOMAIN` in your browser. 

1. Log into Cloudsoft Service Broker using the `SECURITY_USER_NAME` and `SECURITY_USER_PASSWORD` environment variables from the application dashboard:

	![Credentials](credentials.png) 



##<a id="using"></a> Add a Service

1. Click **View Service Access**. 

	![Getting started](getting_started.png)

1. Select **cloudsoft-service-broker** from the **Service Broker** dropdown menu. 

	![Access](service_access.png)

1. Click on the **+** button to add a new service and fill in the form

	![Add service](add_service.png)