---
title: Using the Cloudsoft Service Broker Tile
owner: Partners
---

This document describes how to use the Cloudsoft Service Broker to create new Services and control service access. 

## <a id="login"></a>Log in to Cloudsoft Service Broker

1. In Apps Manager, search for the **cloudsoft-service-broker-manager** app in the **cloudsoft-service-broker-org** and **cloudsoft-service-broker-space**. Select the app to bring view the dashboard. 

	![App dashboard](app_dashboard.png)

1. Navigate to `https://cloudsoft-service-broker-manager.YOUR-SYSTEM-DOMAIN` in your browser. 

1. Log into Cloudsoft Service Broker using the `SECURITY_USER_NAME` and `SECURITY_USER_PASSWORD` environment variables from the application dashboard:

	![Credentials](credentials.png) 



##<a id="using"></a> Add a Service

Adding a new service to the Cloudsoft Service Broker is as simple as filling in a form.

1. Click **View Service Access**. 

	![Getting started](getting_started.png)

1. Select **cloudsoft-service-broker** from the **Service Broker** dropdown menu. 

	![Access](service_access.png)

1. Click on the **+** button to add a new service and fill in the form

    ![Add service](add_service.png)

    In the dialog that opens, specify the name and description of the new service, and provide the url to an icon to use.  Then select a service type to use and if necessary edit the blueprint to your satisfaction.  Next, define some plans, giving a name and description, and the configuration that makes this plan different from other plans and click add plan.  Once you are happy click save.

1. Scroll to the newly created service and click on its name, then select the organisations to which you wish to make it visible

    ![Make visible](make_visible.png)

